<!DOCTYPE html>
<head lang="en">
 <meta charset="UTF-8" />
 <title>SprintCycle</title>
</head>
<body>
  <h1>Cycle</h1>
  <form class="" action="#" th:action="@{/cycles}" th:object="${cycle}" method="post" >
    <p><input id="goal" class="" type="text" th:field="*{goal}" placeholder="Goal" /></p>
    <p><input id="process" class="" type="text" th:field="*{process}" placeholder="How will I approach it?" /></p>
    <p><input id="blockers" class="" type="text" th:field="*{blockers}" placeholder="Potential blockers" /></p>
    <p><input id="energy" class="" type="text" th:field="*{energy}" placeholder="Energy Levels" /></p>
    <p><input id="morale" class="" type="text" th:field="*{morale}" placeholder="Morale Levels" /></p>
    <input class="submit" type="submit" value="Submit" id="submit" />
    <input class="reset" type="reset" value="Reset" />
  </form>
</body>
</html>