<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"></html>
<head lang="en">
 <meta charset="UTF-8" />
 <title>SprintCycle</title>
</head>
<body> 
    <form action ="#" th:action="@{/sprints/total/}" th:object="${sprint}" method="get" enctype="multipart/form-data">
      <th:block th:each="sprint : ${sprints}">
        <div th:text="${sprint.getGoals()}"></div>
        <div id="measurement"  th:text="${sprint.getMeasurement()}" ></div>
        <h4><a id="success"  th:text="${sprint.getSuccess()}" ></h4>
        <h4><a id="other"  th:text="${sprint.getOther()}" ></h4>
        <h4><a id="cycle_amount"  th:text="${sprint.getCycle_amount()}" ></h4>
        <h4><a id="cycle_time"  th:text="${sprint.getCycle_time()}" ></h4>
          <form th:action="@{'sprint/{id}'(id=${sprint.id})}" th:object="${sprint}" method="get">
            <input type="hidden" th:value="${sprint.id}" id="sprint" name="id"/>
            <button id="create cycle" type="submit" >Create Cycle</button>
          </form>
      </th:block>
    </form> 
</body>

<!-- <body>HELLO
  <form action ="#" th:action="@{/sprints/sprint}" th:object="${sprint}" method="get" >
    <a class="select-a-genre">Select a sprint:</a>
    <p><input type="text" name="name" placeholder="NAME"/></p>
    <input class="submit" type="submit" value="Submit" id="submit" /> 
  </form> -->
  <!-- <th:block th:each="sprint: ${sprints}">
    <h3><a th:text="${sprint.getName()}"></h3>
    <form th:action="@{'/add/{id}'(id=${sprint.id})}" th:object="${sprint}" method="get" enctype="multipart/form-data">
      <input type="hidden" th:value="${sprint.id}" id="tune" name="id"/>
      <button id="add" type="submit" >Add Cycle</button>  -->
      <!-- above is the button to add to favourites, every song had one, and we get that id of the specific song to add in our favourites -->
    <!-- </form>
  </th:block> -->
<!-- </body> -->
